<!DOCTYPE html>
<!-- вставили шаблон: xmlns:th="http://thymleaf.org"  чтобы работал Thymleaf-->>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все товары</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1> Все доступные спортивные товары: </h1>
<!--    <div th:each="book : ${books}">-->
<!--        <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getAuthor()}" th:text="${book.getTitle()}" th:text="${book.getGenre()}"></a>-->
<!--    </div>-->
<div th:each="product : ${products}">
    <a th:href="@{/products/{id}(id=${product.getId()})}" th:text="${product.getName()}">Пока отображение наименования</a>
</div>

<br>
<div>
<!--    <a th:href="@{/books/new}"><h3>Добавить новую книгу</h3></a>-->

</div>
</body>
</htl>